
body {
	background-color: #eeceed;
}

.page_header {
	padding-top:50px;
	text-align: center;
	color: #a32c9e;
	background-image: url("../images/weather_emojis2.png");
	width:100%;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	min-height: 200px;

}

.header_text {
	position: absolute;
	left: 30%;
	padding-top: 10px;
	padding-bottom:15px;
	padding-left: 5px;
	padding-right: 5px;
	background: rgba(238,206,237, 0.5);
	width: 40%;
	
}

h1 {
	font-size: 300%;
	opacity: 1;
}