
body {
	background-color: white;
}

.page_header {
	padding-top:500px;
	padding-bottom:500px;
	text-align: center;
	color: white;
	background-image: url("../images/london_weather_test.jpg");
	width:100%;
	background-size: 200%;
	background-repeat: no-repeat;
	background-attachment: fixed;
	font-family: futura;

}

h1 {
	font-size: 300%;
}
