<!DOCTYPE html>
<html lang="en">

	<head>
		<title> What Weather Where? </title>
		
		<!-- bootstrap -->
		<link href="../static/bootstrap-3.3.7-dist/css/bootstrap.css" rel="stylesheet">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		
		<!-- our css --> 
		<link rel="stylesheet" type="text/css" href="../static/css/main.css">
	</head>

	<body>
		<!-- title -->
		<div class="page_header">
			<h1><strong><i>
			What, Weather, Where?				
			</h1></strong></i>
		</div>
		


	</body>