<!DOCTYPE html>
<html lang="en">

	<head>
		<title> What Weather Where? </title>

		<!-- bootstrap -->
		<link href="../static/bootstrap-3.3.7-dist/css/bootstrap.css" rel="stylesheet">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<!-- our css -->
		<link rel="stylesheet" type="text/css" href="../static/css/main.css">
	</head>

	<body>
		<!-- title -->
		<!-- Defined the class as "page_header" and  according to "main" description -->
		<!-- If we do not have a defined if statement for a weather type, it falls under an else statement "default".
					If "default" css class is true, it gives a red warning sign so we can add in a background image -->
		<div class="page_header {{css_class}}">

			{% if css_class == "default" %}
				<h1 class="warning">
					{{city_weather["main"]}} <!-- Title of main description turns red. Prompt to add background image. -->
				</h1>
			{% endif %}

			<h1><strong>
			 Weather for {{city_weather["name"]}} <!-- Name of chosen city-->
			</h1></strong>

			<h3>
			{{city_weather["description"]}} <!-- Brief description of weather in chosen city-->
			</h3>

			<h3>
				 {{city_weather["temp"]}} &#x2103 <!-- Temperature of chosen city-->
			</h3>

      <h1>
        {{city_wear}} <!-- Pre-written text describing weather 'tip' according to weather type -->
      </h1>

		  <h3 class = "tagline">Weather happens - wherever you are - and we want to help you prepare!</h3>
		  <!-- City form -->
		  <div id = "event-choice-form">
		    <form method="post" action="/weather">
		      <section>
		        <legend><h2>Choose another location... We'll tell you what the weather's like</h2></legend><br>
		        <input type="text" id="location" class = "box" name="location" value="" placeholder="Location e.g. London" required="required" autofocus="autofocus"/><br>
		        <input type="submit" value="Submit" id="submit-button" class= "button">
		      </section>
		    </form>
			</div>
	</body>
