<!DOCTYPE html>
<html lang="en">

	<head>
		<title> What Weather Where? </title>

		<!-- bootstrap -->
		<link href="../static/bootstrap-3.3.7-dist/css/bootstrap.css" rel="stylesheet">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<!-- our css -->
		<link rel="stylesheet" type="text/css" href="../static/css/who_we_are.css">
	</head>

	<body>
		<!-- navbar -->
    <div class="topnav">
  		<a class="active" href="{{ url_for('hello')}}">Home</a>
  		<a href="{{ url_for('about')}}">About</a>
  		<a href="{{ url_for('whoweare')}}">Who We Are</a>
  		<a href="{{ url_for('questions')}}">Questions?</a>
		</div>
		<!-- title -->
		<div class="page_header default">
			<h1><strong>
			Who we are
			</h1></strong>

		<h2> A group of five dedicated metereology enthusiasts,
			<br> here to help you live your best life according to the weather, </br>
			<br><i>no matter where you are.</i></br></h2>
			<br><img src="/static/images/whowearecollage.jpg"/></br>
	</body>
